<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.mapper.student.ClassesMapper">
    <resultMap type="com.manage.entity.Classes" id="classesResultMap">
        <id column="classes_id" property="classesid" />
        <result column="grade" property="grade" />
        <result column="classes" property="classes" />
        <result column="years" property="years" />
    </resultMap>

    <select id="queryAll" resultMap="classesResultMap">
        SELECT * FROM classes
         WHERE grade  &lt;= 3
    </select>

    <select id="queryClassesByGrade" parameterType="int" resultType="string">
        SELECT classes FROM classes WHERE grade = #{grade}
    
    </select>

</mapper>