<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.manage.mapper.student.StuCommRequestMapper">
    
    <insert id="save" parameterType="com.manage.entity.StuCommRequest">
        INSERT INTO stu_comm_request (stu_id, comm_id)
        VALUES (#{stuid}, #{commid})
    </insert>

    <update id="setStatus" parameterType="map">
        UPDATE stu_comm_request SET status = 1
        WHERE comm_id = #{commid} AND stu_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


</mapper>
