<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.manage.mapper.student.StuCommunityMapper">
    <resultMap type="com.manage.entity.StuCommunity" id="stuCommunityMap">
        <association property="student" javaType="com.manage.entity.Student">
            <id property="stuid" column="stu_id"/>
        </association>
        <association property="community" javaType="com.manage.entity.Community">
            <id property="communityid" column="community_id"/>
        </association>
    </resultMap>
    
    <insert id="save" parameterType="com.manage.entity.StuCommunity">
        INSERT INTO stu_community (stu_id, community_id)
        VALUES (#{student.stuid}, #{community.communityid})
    </insert>
    
    <delete id="deleteByCommids">
        DELETE FROM stu_community 
        WHERE community_id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    
    <select id="exist" parameterType="com.manage.entity.StuCommunity" resultType="int">
        SELECT COUNT(*) FROM stu_community sc
        WHERE sc.community_id = #{community.communityid} AND sc.stu_id = #{student.stuid}
    </select>
    
</mapper>
