<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.mapper.student.StudentMapper">
    <resultMap type="com.manage.entity.Student" id="stuSimpleResultMap">
        <id column="stu_id" property="stuid" />
        <result column="stu_name" property="stuName" />
        <result column="stu_sex" property="stuSex" />
        <result column="stu_birthday" property="stuBirthday" />
        <result column="stu_native_place" property="stuNativePlace" />
        <result column="role_name" property="roleName"/>
        <association property="classes" javaType="com.manage.entity.Classes">
            <id column="classes_id" property="classesid" />
            <result column="grade" property="grade" />
            <result column="classes" property="classes" />
            <result column="year" property="years" />
        </association>
    </resultMap>
    
    <sql id="stuColumn">
        s.stu_id,s.stu_pwd,s.stu_name,s.stu_sex,s.stu_birthday,s.stu_native_place
    </sql>
    <select id="getStudentByCommid" parameterType="int" resultType="com.manage.entity.Student" resultMap="stuSimpleResultMap">
        select
        <include refid="stuColumn" />
        ,cls.grade,cls.classes
        FROM student s
        INNER JOIN stu_community sc on s.stu_id = sc.stu_id
        INNER JOIN classes cls on
        s.classes_id = cls.classes_id
        WHERE
        sc.community_id = #{id}
    </select>
    
    <select id="queryAll" parameterType="map" resultType="com.manage.entity.Student" resultMap="stuSimpleResultMap">
            SELECT * from (
            SELECT *, case 
            WHEN grade = 0 then '一年级'
            WHEN grade = 1 then '二年级' 
            WHEN grade = 2 then '三年级' 
            WHEN grade = 3 then '四年级'
            ELSE '已毕业'
            END AS 'grade_name'
            FROM (
            SELECT s.*,cls.classes,cls.grade,CASE s.stu_sex WHEN 1 then '男' WHEN 0 then '女' end as 'sex_name'
             FROM  classes cls INNER JOIN student s on cls.classes_id = s.classes_id
             ) t
            ) c 
            <if test="keyWord != null">
            WHERE c.stu_name like '%${keyWord}%'
            OR CONCAT(c.stu_birthday,'')  like '%${keyWord}%'
            OR c.sex_name like '%${keyWord}%'
            </if>
            LIMIT ${pageParam.startIndex},${pageParam.rows}
    </select>

    <select id="getCount" parameterType="map" resultType="int">
            SELECT COUNT(*) from (
            SELECT * FROM (SELECT *, CASE  
            WHEN grade = 0 THEN '一年级' 
            WHEN grade = 1 THEN '二年级' 
            WHEN grade = 2 THEN '三年级' 
            WHEN grade = 3 THEN '四年级' 
            ELSE '已毕业' end as 'grade_name'
             FROM (select s.*,cls.classes,cls.grade,case s.stu_sex WHEN 1 THEN '男' WHEN 0 THEN '女' END AS 'sex_name'
            FROM  classes cls inner join student s on cls.classes_id = s.classes_id) t) b 
            ) c
           <if test="keyWord != null">
            WHERE c.stu_name LIKE '%${keyWord}%'
            OR CONCAT(c.stu_id,'')  LIKE '%${keyWord}%'
            OR CONCAT(c.stu_birthday,'')  LIKE '%${keyWord}%'
            OR c.sex_name LIKE '%${keyWord}%'
            </if>
    </select>
    
     <select id="queryOne" parameterType="int" resultType="com.manage.entity.Student"  resultMap="stuSimpleResultMap">
        SELECT s.*,cls.classes,cls.grade
        FROM  classes cls INNER JOIN student s ON cls.classes_id = s.classes_id
        WHERE s.stu_id = #{id}
     </select>

     <select id="login" parameterType="com.manage.entity.Student" resultType="Integer">
        SELECT COUNT(*) FROM  student 
        where classes_id IS NOT NULL
        AND stu_id = #{stuid} AND stu_pwd = #{stuPwd}
     </select>
     
     
    <insert id="save" parameterType="com.manage.entity.Student" 
            keyProperty="stuid" useGeneratedKeys="true">
        INSERT INTO `student` (`stu_name`, `stu_sex`, `stu_birthday`, `stu_native_place`, `classes_id`) 
        VALUES (#{stuName}, #{stuSex}, #{stuBirthday}, #{stuNativePlace}, #{classes.classesid})
             
    </insert>
    
    <insert id="joinCommunity" parameterType="map">
         INSERT INTO stu_community(stu_id,community_id)
        VALUES(#{studentid},#{communityid})
    </insert>

    <update id="update" parameterType="com.manage.entity.Student">
       UPDATE student SET stu_name=#{stuName}, stu_sex=#{stuSex}, stu_birthday=#{stuBirthday},
        stu_native_place=#{stuNativePlace}, classes_id=#{classes.classesid} WHERE stu_id = #{stuid}
    </update>
     
    <delete id="deleteMany">
        DELETE FROM student WHERE stu_id in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete> 
         
</mapper>