<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.mapper.ClassesMapper">
    <resultMap type="com.manage.entity.Classes" id="classesResultMap">
        <id column="classes_id" property="classesid" />
        <result column="grade" property="grade" />
        <result column="classes" property="classes" />
        <result column="years" property="years" />
    </resultMap>

    <select id="queryAll" parameterType="map" resultType="com.manage.entity.Classes" resultMap="classesResultMap">
        select * from classes
        <if test="keyWord == 'no'">
            where grade  &lt;= 3
        </if>
    </select>

    <select id="queryClassesByGrade" parameterType="int" resultType="string">
        select classes from classes where grade = #{grade}
    
    </select>

</mapper>