@CHARSET "UTF-8";
/*
	前台专用样式
*/
.navbar-nav li:hover {
	background-color: #e7e7e7;
}

.navbar-nav li a {
	padding: 20px;
}

.navbar-nav  li {
	font-size: 20px;
}

.mlist {
	margin-bottom: 3px;
}

.mcommunity {
	margin-top: 5px;
	font-size: 20px;
	font-weight: bold;
}

.msearch {
	margin-top: 5px;
}