@CHARSET "UTF-8";

/*
	侧边导航栏
*/
.mnav-accordion {
	width: 100%;
	height: auto;
}

.mnav-item {
	width: auto;
	overflow: auto;
	font-size: 15px;
}

.mnav-item ul {
	margin: 0;
	padding: 0px;
}

.mnav-item li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mnav-item a {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.mnav-item a:hover {
	background-color: #9595ff;
}
.hidden{
	display: none;
}
.data-div{
	width:100%;
	height:600px;
}
.roleLeft {
	width:25%;
	height: 100%;
	float: left;
}
.roleRight {
	width:75%;
	height: 100%;
	float: left;
}
