@CHARSET "UTF-8";

.middle
{
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.base
{
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.baseone
{
	 position: relative;
    min-width: 927px;
    padding: 10px 0;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #e7eaf1;
}
.baseone-one
{
	width:72%;
    padding-bottom: 20px;
}
.Card {
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #e7eaf1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,37,55,.05);
    box-sizing: border-box;
}
a.QuestionMainAction {
    display: block;
    line-height: 50px;
    color: #8590a6;
    text-align: center;
}
.QuestionMainAction {
    width: 100%;
    height: 50px;
    font-size: 15px;
    border: none;
    border-radius: 0;
}
.ccc
{
	width: 100%;
	text-align: center;
}
.list-m {
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
}
.ma-QuestionHeader-main {
    width: 300px;
    padding-left: 20px;
    box-sizing: border-box;
}
.ma-QuestionHeader-side {
  	width:570px;
    padding-left: 20px;
}
.ma-QuestionFollowStatus-counts {
    width: 560px;
    text-align: center;
}
.ma-btn
{
	text-align: center;
}
.ma-substance
{
	font-size: 18px;
	padding-left: 20px;
	line-height: 50px;
}
.ma-baseone-one
{
	width:100%;
    padding-bottom: 20px;
}
.ma-widch
{
	
	margin-bottom: 15px;
    clear: both;
}
.ma-label {
	display:block;
	float: left;
	padding: 1px 10px;
	width: 80px;
	font-weight: 400;
	text-align: right
}
.ma-form-control
{
    font-size: 14px;
    line-height: 1.42857143;
    display: block;
	float:left;

    width: 100%;
    height: 34px;
    padding: 6px 12px;

    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.ma-layui-input-block
{
	margin-left: 110px;
    min-height: 36px;
}
.mbox-shadow
{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
}
.ma-inp{
	height: 30px;
	width:258px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.ma-col-one
{
	    width: 178px;
   		height: 128px;
	    float: left;
	    position: relative;
	    min-height: 1px;
	    padding-right: 15px;
	    padding-left: 35px;
}
.ma-initi
{
	padding: 10px 0px;
	height: 200px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.ma-initiate
{
	text-align: center;
    background: #f2f2f2;
    color: #ccd1d9;
    height: 150px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.ma-initiate-span
{
	opacity: .4;
	background: #000;
	height: 40px;
	width: 1116px;
}
.ma-initiate-a
{
	float:left;
	padding:4px;
	margin-left:30px;
	font-size: 22px;
}
.ma-initiate-b
{
	float:left;
	padding:4px;
	margin-left:300px;
	font-size: 22px;
}
.ma-href-a
{
	padding: 10px;
}
.dt {
	height: 300px;
}
.ma-drop
{
	border: 0px;
    color: #688bcc;
}
.layui-table td, .layui-table th
{
	    text-align: center;
}
.ma-container
{
	margin-top: 59px;
	width: 970px;
	max-width: none !important;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.ma-dy
{
	margin-top:10px;
	width:970px;
	overflow:hidden;
	margin-bottom: 10px;
}
.ma-dt
{
	margin-top: 10px;
    width: 1100px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.dn
{
	background: #ffffff;
	overflow: hidden;
	
}
.ma-neirong
{
	
	height: 30%;
	font-size: 16px;
}
.ma-zuizhong
{
	height: 20%;
}
.ma-tupian
{
	margin: 10px 20px;
	height:80px;
	float: left;
}
.ma-mingzi
{
	float:left;
	font-size: 24px;
	margin-top: 20px;
	width: 80%;
	height:80px;
}
.ma-cai
{
	float: left;
	font-size: 24px;
	margin-top:20px;
	padding-left:20px;
	width: 10%;	
	height:80px;
}
.ma-chongzuo
{
	float: left;
	font-size: 24px;
	width: 100%;	
	height:30px;
}
.ma-wenzi
{
	margin-left: 20px;
	margin-right: 20px;
}
.ma-pl
{
	width: 100%;
}
.ma-tubiao
{
	margin-left: 50px;
	margin-right: 50px;
	float: right;
}
.ma-tubiao2
{
	float: right;
    margin-right: 50px;
}
.ma-dibu
{
	padding-bottom: 5px;
}
.hb
{
	margin-top: 70px;
}
.ma-matubiao
{
	float: left;
    font-size: 24px;
    height: 100px;
}
.ma-mamingzi
{
	float: left;
    font-size: 24px;
    margin-top: 20px;
    width: 77%;
    height: 80px;
}
.ma-menu
{
	min-width: 70px;
}
.ma-caizan
{
	float: left;
	font-size: 24px;
	margin-top:20px;
	padding-left:20px;
	width: 7%;	
	height:80px;
}
.ma-tupianneirong
{
	margin-top: -50%;
    text-align: center;
    font-size: 16px;
}
.ma-dtd
{
	margin-top: -65%;
    width: 109px;
    margin-left: 10px;
    opacity: 0.9;
}
.h1{
    font-size: 32px;
    letter-spacing: 4px;
    line-height: 150%;
}

.h2{
    font-size:24px;
    letter-spacing: 4px;
    line-height: 150%;
}

.h3{
    font-size:18px;
    letter-spacing: 4px;
    line-height: 150%;
}
.h4{
    font-size:16px;
    letter-spacing: 3px;
    line-height: 150%;
}
