<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.mapper.activity.ActivityMapper"> 
    <resultMap type="com.manage.entity.Activity" id="activityResultMap">
        <id column="activity_id" property="activityid" />
        <result column="activity_title" property="activityTitle"/>
        <result column="activity_loc" property="activityLoc" />
        <result column="activity_content" property="activityContent" />
        <result column="activity_date" property="activityDate" />
        <result column="closing_date" property="closingDate" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="status" property="status" />
        <!-- 
            association  多对一映射
            property 
         -->
        <association property="community" javaType="com.manage.entity.Community">
            <id column="community_id" property="communityid" />
            <result column="community_name" property="communityName" />
        </association>
        <association property="stu" javaType="com.manage.entity.Student">
            <id column="stu_id" property="stuid" />
            <result column="stu_name" property="stuName" />
        </association>
        <collection property="photo" ofType="com.manage.entity.Photos">
            <id column="photo_id" property="photoid"/>
            <result column="photo_name" property="photoName"/>
        </collection>
         <collection property="stuactivity" ofType="com.manage.entity.StuActivity">
            <id column="activity_id" property="activityid"/>
            <result column="stu_id" property="stuid"/>
            <result column="validate_flag" property="validateFlag"/>
        </collection>
    </resultMap>
    <!-- 输出参数 -->
    <!-- 分页式，模糊查询 -->
    <!-- parameter传入参数 -->
    <!-- result传出参数 -->
    <!-- 你能看到所有社团 -->
    <select id="queryAll" parameterType="map"  resultMap="activityResultMap">
      select  activity.activity_id,activity.community_id,community.community_name,activity_title,activity_loc,activity_content,activity_date,closing_date,start_date,end_date,status from  activity  activity INNER JOIN community
      on activity.community_id= community.community_id  
            where status = 0
       <if test="keyWord != null">
        AND  activity.activity_content LIKE '%${keyWord}%'
        </if>
        ORDER BY activity.activity_id DESC
        LIMIT #{pageParam.startIndex},#{pageParam.rows}
    </select>
    <!-- 总条数 -->
    <select id="getCount" parameterType="map"  resultType="int">
         select  count(activity.activity_id) from  activity  activity INNER JOIN community
      on activity.community_id= community.community_id  
        where status = 0
          <if test="keyWord != null">
        AND  activity.activity_content LIKE '%${keyWord}%'
        </if>
    </select>
    <!-- 查询活动不带分页 -->
    <select id="getActivity" parameterType="map"  resultMap="activityResultMap">
     select  activity.activity_id,activity.community_id,community.community_name,activity_title,activity_loc,activity_content,activity_date,closing_date,start_date,end_date,status,student.stu_id,student.stu_name,photos.photo_id,photos.photo_name from  activity inner join stu_community
on stu_community.community_id = activity.community_id inner join student
on student.stu_id = stu_community.stu_id INNER JOIN community 
on community.community_id = activity.community_id left JOIN photos
on photos.photo_id = activity.photo_id
    </select>
    <!-- 通过活动编号查询 ,只是查看详细信息-->
    <select id="getActivityOne" parameterType="Integer" resultMap="activityResultMap">
SELECT activity.activity_id,activity.community_id,community.community_name,activity_title,activity_loc,activity_content,activity_date,closing_date,start_date,end_date,status,photos.photo_id,photos.photo_name  from  activity   INNER JOIN community 
on community.community_id = activity.community_id inner join photos
on photos.photo_id = activity.photo_id 
where activity.activity_id = #{_parameter} 
    </select>
    <!-- 查询是否已经参加活动 -->
    <select id="validateFlag" parameterType="Integer" resultMap="activityResultMap">
        SELECT activity.activity_id,stu_activity.stu_id,stu_activity.validate_flag  from  activity    LEFT JOIN stu_activity
        on stu_activity.activity_id = activity.activity_id
        where activity.activity_id = #{_parameter}  and stu_id = 10002
    </select>
     <!-- 通过活动编号查询社团内部成员 ,不是社团内部人员也可以参加,已经参加的人-->
    <select id="getAllStudentByActId" parameterType="map"  resultMap="activityResultMap">
select student.stu_id,stu_name from activity inner JOIN stu_activity
on stu_activity.activity_id = activity.activity_id inner join student
on student.stu_id = stu_activity.stu_id 
where activity.activity_id = #{_parameter}
    </select>
        <select id="getActivityByperId" parameterType="Integer"  resultMap="activityResultMap">
    select  activity.activity_id,activity.community_id,community.community_name,activity_title,activity_loc,activity_content,activity_date,closing_date,start_date,end_date,status,student.stu_id,student.stu_name from  activity inner join stu_community
on stu_community.community_id = activity.community_id inner join student
on student.stu_id = stu_community.stu_id INNER JOIN community
on community.community_id = activity.community_id
where student.stu_id = #{stuid}
    </select>
    <!--添加活动  -->
    <!-- 输入参数 -->
    <insert id="addActivity" parameterType="com.manage.entity.Activity">
            insert into activity(activity_type_id,community_id,activity_title,activity_loc,activity_content,activity_date,closing_date,start_date,end_date,status) 
            VALUES(#{activityTypeid},#{community.communityid,jdbcType=INTEGER},#{activityTitle},#{activityLoc},#{activityContent,jdbcType=VARCHAR},now(),#{closingDate},#{startDate},#{endDate},0) 
    </insert>
    <!-- 申请加入社团,第一次都是申请,还没有同意,都在验证,默认1 -->
    <insert id="addActivityPerson" parameterType="com.manage.entity.StuActivity">
        insert into stu_activity(activity_id,stu_id,validate_flag) VALUES(#{activityid},#{stuid},1) 
    </insert>
    <!-- 修改 -->
    <update id="UpdateActivity" parameterType="com.manage.entity.Activity">
          update activity 
      set community_id = #{community.communityid}, 
      activity_type_id = #{activityTypeid} ,
      activity_title = #{activityTitle},
      activity_loc = #{activityLoc},
      activity_content = #{activityContent},
      activity_date = #{activityDate},
      closing_date = #{closingDate},
      start_date = #{startDate},
      end_date = #{endDate}
    where activity_id = #{activityid}
    </update>
    <delete id="delete" parameterType="Integer">
     update activity set status = 1 where activity_id in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
         #{activityid}
        </foreach>
    </delete>
</mapper>