<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.mapper.dynamics.DynamicsMapper"> 
   <!--  <resultMap id="Dynamics" type="com.manage.entity.Dynamics">
    <id column="dynamics_id" property="dynamicsid"/>
    <result column="dynamics_content" property="dynamicsContent"/>
    <result column="dynamics_date" property="dynamicsDate"/>
    <result column="dynamics_search" property="dynamicsSearch"/>
    <result column="status" property="status"/>
    <association  property="stu"  javaType="com.manage.entity.Student">
        <id column="stu_id" property="stuid"/>
         <result column="stu_name" property="stuName"/>
        <result column="stu_pwd" property="stuPwd"/>
        <result column="stu_sex" property="stuSex"/>
        <result column="stu_birthday" property="stuBirthday"/>
        <result column="stu_native_place" property="stuNativePlace"/>
    </association>
 评论内容
    <collection property="replyDynamics" ofType="com.manage.entity.ReplyDynamics">
            <id column="reply_dynamics_id" property="replyDynamicsid"/>
            <result column="content" property="content"/>
            <result column="reply_date" property="replyDate"/>
            <association property="dynamics" javaType="com.manage.entity.Dynamics" >
                <id column="dynamics_id" property="dynamicsid" />
                <result column="dynamics_content" property="dynamicsContent"/>
                <result column="dynamics_date" property="dynamicsDate" />
                <result column="dynamics_search" property="dynamicsSearch" />
                <result column="status" property="status" />
            </association>
             <association property="stu" javaType="com.manage.entity.Student">
                <id column="stu_id" property="stuid" />
                <result column="stu_name" property="stuName" />
             </association>
             子评论
            <collection property="replyDynamicses" ofType="com.manage.entity.ReplyDynamics">
                <id column="rereply_dynamics_id" property="replyDynamicsid"/>
            <result column="recontent" property="content"/>
            <result column="rereply_date" property="replyDate"/>
            <association property="dynamics" javaType="com.manage.entity.Dynamics" >
                <id column="redynamics_id" property="dynamicsid" />
                <result column="redynamics_content" property="dynamicsContent"/>
                <result column="redynamics_date" property="dynamicsDate" />
                <result column="redynamics_search" property="dynamicsSearch" />
                <result column="restatus" property="status" />
            </association>
             <association property="stu" javaType="com.manage.entity.Student">
                <id column="restu_id" property="stuid" />
                <result column="restu_name" property="stuName" />
             </association>
            </collection>
    </collection>
    </resultMap>
  <select id="queryAll" parameterType="map" >
           select m.dynamics_id,m.dynamics_content,m.dynamics_date,m.dynamics_search,m.status,m.reply_dynamics_id,m.content,m.reply_to_reply,m.reply_date,m.stu_id,m.stu_name,t.reply_dynamics_id as rereply_dynamics_id,t.content as recontent,t.reply_to_reply rereply_to_reply,t.reply_date as rereply_date,t.stu_id as restu_id,t.stu_name as restu_name,t.dynamics_id as redynamics_id,t.dynamics_content as redynamics_content,t.dynamics_date as redynamics_date,t.dynamics_search as redynamics_search,t.status as restatus from (
        select reply_dynamics.reply_dynamics_id,reply_dynamics.content,reply_dynamics.reply_to_reply,reply_dynamics.reply_date,student.stu_id,student.stu_name,dynamics.dynamics_id,dynamics_content,dynamics_date,dynamics_search,status from reply_dynamics inner JOIN student
        on student.stu_id = reply_dynamics.stu_id RIGHT join dynamics
        on dynamics.dynamics_id = reply_dynamics.dynamics_id 
        where reply_dynamics.reply_to_reply is null
        
        )m left JOIN (
        select reply_dynamics.reply_dynamics_id,reply_dynamics.content,reply_dynamics.reply_to_reply,reply_dynamics.reply_date,student.stu_id,student.stu_name,dynamics.dynamics_id,dynamics_content,dynamics_date,dynamics_search,status from reply_dynamics inner JOIN student
        on student.stu_id = reply_dynamics.stu_id RIGHT join dynamics
        on dynamics.dynamics_id = reply_dynamics.dynamics_id 
        where reply_dynamics.reply_to_reply is not null
        
        )t
        on m.reply_dynamics_id = t.reply_to_reply
        WHERE m.STATUS = 1 and  m.dynamics_search= 1
        <if test="keyWord != null">
        AND ( m.dynamics_content LIKE '%${keyWord}%' 
        OR m.stu_name LIKE '%${keyWord}%')
        </if>
        ORDER BY m.dynamics_id DESC
        LIMIT #{pageParam.startIndex},#{pageParam.rows}
   </select>
    <select id="getCount" parameterType="map" resultType="int">
              select count(*) from (
        select reply_dynamics.reply_dynamics_id,reply_dynamics.content,reply_dynamics.reply_to_reply,reply_dynamics.reply_date,student.stu_id,student.stu_name,dynamics.dynamics_id,dynamics_content,dynamics_date,dynamics_search,status from reply_dynamics inner JOIN student
        on student.stu_id = reply_dynamics.stu_id RIGHT join dynamics
        on dynamics.dynamics_id = reply_dynamics.dynamics_id 
        where reply_dynamics.reply_to_reply is null
        
        )m left JOIN (
        select reply_dynamics.reply_dynamics_id,reply_dynamics.content,reply_dynamics.reply_to_reply,reply_dynamics.reply_date,student.stu_id,student.stu_name,dynamics.dynamics_id,dynamics_content,dynamics_date,dynamics_search,status from reply_dynamics inner JOIN student
        on student.stu_id = reply_dynamics.stu_id RIGHT join dynamics
        on dynamics.dynamics_id = reply_dynamics.dynamics_id 
        where reply_dynamics.reply_to_reply is not null
        
        )t
        on m.reply_dynamics_id = t.reply_to_reply
        WHERE m.STATUS = 1 and  m.dynamics_search= 1
        <if test="keyWord != null">
        AND ( m.dynamics_content LIKE '%${keyWord}%' 
        OR m.stu_name LIKE '%${keyWord}%')
        </if>
         ORDER BY m.dynamics_id DESC
    </select>
    <select id="getMyselfAllDynamics" parameterType="map">
     SELECT d.dynamics_id,d.dynamics_content,d.dynamics_date,d.stu_id,s.stu_name FROM dynamics d 
        INNER JOIN student s ON d.stu_id = s.stu_id
        WHERE d.STATUS = 1 and d.stu_id = #{id}
        <if test="keyWord != null">
        AND ( d.dynamics_content LIKE '%${keyWord}%' 
        OR s.stu_name LIKE '%${keyWord}%')
        </if>
        ORDER BY d.dynamics_id DESC
        LIMIT #{pageParam.startIndex},#{pageParam.rows}
    </select>
     <select id="getMyselfAllDynamicsCount" parameterType="map"  resultType="int">
     SELECT count(*) FROM dynamics d 
        INNER JOIN student s ON d.stu_id = s.stu_id
        WHERE d.STATUS = 1 and d.stu_id = #{id}
        <if test="keyWord != null">
        AND ( d.dynamics_content LIKE '%${keyWord}%' 
        OR s.stu_name LIKE '%${keyWord}%')
        </if>
    </select> -->
</mapper>