<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.mapper.authority.CommunityRoleMapper">
    <resultMap type="com.manage.entity.CommunityRole" id="communityRoleResultMap">
        <id column="community_role_id" property="communityRoleid" />
        <collection property="communities" ofType="com.manage.entity.Community">
            <id property="communityid" column="community_id" />
            <result property="communityName" column="community_name" />
        </collection>
        <collection property="roles" ofType="com.manage.entity.Role">
            <id column="role_id" property="roleid" />
            <result column="role_name" property="roleName" />
        </collection>
    </resultMap>

    <insert id="autoSave" parameterType="map">
        
        <if test="roleids != null">
            INSERT INTO community_role (community_id, role_id) VALUES 
            <foreach collection="roleids" item="roleid" separator=",">
                (#{commid}, #{roleid})
            </foreach>
        </if>
        
    </insert>




</mapper>

