<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.mapper.DiscussMapper">
<resultMap id="Discuss"  type="com.manage.entity.Discuss">
	<id column="disucss_id" property="discussid" />
	<result column="discuss_title" property="discussTitle"/>
	<result column="discuss_content" property="discussContent"/>
	<result column="discuss_date" property="discussDate"/>
	<result column="status" property="status"/>
	<association property="stu" javaType="com.manage.entity.Student">
		<result column="stu" property="stuName" />
	</association>
</resultMap>
	<select id="getDiscussByCommid" resultType="com.manage.entity.Discuss" resultMap="Discuss" parameterType="int">
		SELECT
		d.discuss_id,
		d.discuss_title,
		d.discuss_content,
		d.discuss_date,
		d.status
		FROM
		discuss d
		INNER JOIN student sc on d.stu_id = sc.stu_id
		WHERE sc.stu_id = #{id} and d.status = 1
	</select>
	<select id="single" resultMap="Discuss" resultType="com.manage.entity.Discuss">
					SELECT
			d.discuss_id,
			d.discuss_title,
			d.discuss_content,
			d.discuss_date,
			d.status
			FROM
			discuss d
			INNER JOIN student sc on d.stu_id = sc.stu_id
	</select>
	<insert id="insert" parameterType="com.manage.entity.Discuss">
		insert into Discuss(discussTitle,discussContent,discussDate) values
		(#{discussTitle},#{discussContent},#{discussDate})
	</insert>
</mapper>