<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.manage.mapper.authority.RoleMapper">
    <resultMap type="com.manage.entity.Role" id="roleResultMap">
        <id column="role_id" property="roleid" />
        <result column="role_name" property="roleName" />
        <result column="community_role_id" property="communityRoleid" />
    </resultMap>

    <select id="getCommunityRoles" resultType="int">
        SELECT DISTINCT r.role_id FROM role r
        INNER JOIN community_role cr
        ON r.role_id = cr.role_id
        WHERE cr.community_id != 1
    </select>

    <select id="getMgrRoles" resultMap="roleResultMap" resultType="com.manage.entity.Role">
        SELECT  cr.community_role_id,r.role_name FROM role r INNER JOIN community_role cr
        ON r.role_id = cr.role_id
        WHERE cr.community_id = 1
    </select>

</mapper>
