<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.mapper.StudentMapper">
    
    <sql id="sqlColumn">
        stu_id as stuid,
        stu_pwd as stuPwd,
        stu_name as stuName,
        stu_sex as stuSex,
        stu_birthday as stuBirthday,
        stu_native_place as stuNative
    </sql>
    
    <select id="queryAll" resultType="com.manage.entity.Student">
       select <include refid="sqlColumn"/> from student LIMIT 2, 10
    </select>
</mapper>