<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.mapper.discuss.UnlockDiscussRequestMapper">
    <resultMap type="com.manage.entity.UnlockDiscussRequest" id="unlockDiscussMap">
        <id column="unlock_discuss_id" property="unlockDiscussid" />
        <result column="message" property="message" />
        <result column="status" property="status" />
        <association property="discuss" javaType="com.manage.entity.Discuss">
            <id column="discuss_id" property="discussid" />
            <result column="discuss_title" property="discussTitle" />
            <result column="discuss_content" property="discussContent" />
        </association>
    </resultMap>
    
    <select id="query" parameterType="map" resultMap="unlockDiscussMap">
        SELECT udr.unlock_discuss_id,d.discuss_id,d.discuss_title,d.discuss_content,udr.message 
        FROM unlock_discuss_request udr
        INNER JOIN discuss d ON udr.discuss_id = d.discuss_id
        WHERE udr.status = 0 AND d.status = 0 
        AND (d.discuss_title LIKE '%${keyWord}%' OR d.discuss_content LIKE '%${keyWord}%')
        LIMIT #{pageParam.startIndex},#{pageParam.rows}
    </select>
    
    <select id="getCount" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM (
        SELECT udr.unlock_discuss_id FROM unlock_discuss_request udr
        INNER JOIN discuss d ON udr.discuss_id = d.discuss_id
        WHERE udr.status = 0 AND d.status = 0 
        AND (d.discuss_title LIKE '%${keyWord}%' OR d.discuss_content LIKE '%${keyWord}%')
        ) t
    </select>
    
    <insert id="save" parameterType="com.manage.entity.UnlockDiscussRequest">
        INSERT INTO unlock_discuss_request (discuss_id,message)
        VALUES (#{discuss.discussid}, #{message})
    </insert>
    
    <update id="setStatus">
        UPDATE unlock_discuss_request udr SET udr.status=1
        WHERE udr.discuss_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
        #{id}
        </foreach>
    </update>

</mapper>
